/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */

/* Navbar code */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
nav {
  background-color: #4e5586;
}
.nav-box1 {
  width: 50%;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.nav-search {
  margin-left: 12px;
  height: 20px;
}
.search-input {
  background-color: #4e5586;

  color: white;
  height: 25px;
  padding: 15px;
  outline: none;
  box-shadow: none;
}
.search-input::placeholder {
  color: #fff;
  padding: 5px;
}

.dropdownbtn {
  background-color: #4e5586;
  border: 1px solid #fff;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
}
#list {
  background-color: #4e5586;
  color: #fff;
}
#list li a {
  color: #fff;
}
#list li a:hover {
  background-color: #fff;
  color: #4e5586;
}
.email {
  font-size: 12px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Dash board code start here */

.card_1 {
  background-color: #fff2f4;
}
.imageedit {
  background-color: #ffdae0;
  padding: 12px;
  border-radius: 50%;
}
.firstroecard {
  color: #1961a3;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px;
}
