/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */

/* Navbar code */
body,
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
nav {
  background-color: #4e5586;
}
.navbar-full {
  position: fixed;
  top: 0;
  left: 0 !important;
  width: 100% !important;
  z-index: 1200;
  transition: 1s ease-in-out;
  /* transition: 1s ease-in; */
}
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 16.66%;
  width: 83.33%;
  z-index: 1200;
}
.nav-box1 {
  width: 50%;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.nav-search {
  margin-left: 12px;
  height: 20px;
}
.search-input {
  background-color: #4e5586;

  color: white;
  height: 25px;
  padding: 15px;
  outline: none;
  box-shadow: none;
}
.search-input::placeholder {
  color: #fff;
  padding: 5px;
}

.dropdownbtn {
  background-color: #4e5586;
  border: 1px solid #fff;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
}
#list {
  background-color: #4e5586;
  color: #fff;
}
#list li a {
  color: #fff;
}
#list li a:hover {
  background-color: #fff;
  color: #4e5586;
}
.email {
  font-size: 12px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Dash board code start here */

.card_1 {
  background-color: #fff2f4;
}
.card_2 {
  background-color: #fdf8ef;
}
.card_3 {
  background-color: #f9f3ff;
}
.card_4 {
  background-color: #eef0ef;
}
.imageedit1 {
  background-color: #ffdae0;
  padding: 12px;
  border-radius: 50%;
}
.imageedit2 {
  background-color: #f1e7d4;
  padding: 12px;
  border-radius: 50%;
}
.imageedit3 {
  background-color: #e5daf0;
  padding: 12px;
  border-radius: 50%;
}
.imageedit4 {
  background-color: #d4ddd8;
  padding: 12px;
  border-radius: 50%;
}
.firstroecard {
  color: #1961a3;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px;
}
.invoice,
.delivery {
  color: #a3a3a3;
  font-size: large;
  font-weight: 400;
}
.viewall {
  font-size: 15px;
  color: #1961a3;
  font-weight: 600;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
}
.main_full {
  width: 100%;
  transition: width 0.3s ease-in-out;
  padding: 100px 20px;
}
.main-area {
  margin-left: 16.66%;
  padding: 100px 50px;

  transition: width 0.3s ease-in-out;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Job pipeline code of box 1 */

.pipelinecardptag {
  padding: 5px;
  border-radius: 18px;
  background-color: #f0f0f0;
  color: #b5b5b5;
  font-size: 8px;
  font-weight: 300;
  text-align: center;
}
.pipelinecardptag:hover {
  background-color: #034f95;
  color: #fff;
}
.pipeline-line {
  margin-top: 15px;
  /* background-color: red; */
  padding: 0px -10px;
}
.pipeline-line img {
  width: 30px;
  margin: 0px;
  padding: 0px;
}
.dropdwnbtn {
  border: 2px solid #e8e8e8;
  background-color: #d3cbfb;
  border-radius: 8px;
  color: #4e5586;
}
.purpleclr {
  background-color: #ddddeb;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 350px;
  height: 440px;
  /* background-color: red; =================================================================== */
}
.cardtxt {
  color: #999999;
  font-size: 20px;
  font-weight: 400;
}
.cardtxt1 {
  margin-bottom: -5px;
}
.horizontalline {
  width: 40px;
  padding: 0px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Job pipeline code of box 2 */

.todayjob {
  color: #4e5586;
  font-size: 24px;
  font-weight: 500;
}
.viewallbtn {
  color: #4e5586;
  border: 1px solid #e8e8e8;
  background-color: #d3cbfb;
  border-radius: 12px;
}
.inp {
  background-color: #d0eae7;
  border-radius: 12px;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  padding: 5px 12px;
}
.box2p {
  font-size: 15px;
  color: #a3a3a3;
}
.viewbtn {
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  color: #1961a3;
}
#box1cng {
  background-color: #ddddfa;
}
#box2cng {
  background-color: #f2e5ff;
}
#box3cng {
  background-color: #e0e5e2;
}
#box4cng {
  background-color: #fbeaca;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Upconingsrv code start here */

.sendwhat {
  border: none;
  height: 30px;
  background-color: #38a349;
}

.sendwhat img {
  height: 15px;
}
.usrbox1 {
  background-color: #fff;
  border: 1px solid #ebebf7;
}
.h5usr {
  color: #4e5586;
  font-size: 18px;
}
.floatbtn {
  background-color: #dbd5fd;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  color: #4e5586;
  font-size: 13px;
  padding: 8px 12px;
}
.grayarea {
  color: #8d8d8d;
  font-weight: 400;
  font-size: 16px;
}
.inputarea {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
}
.nosend {
  background-color: #f8d3d8;
}

/* .................................................................................................. */

.qas {
  color: #4e5586;
  font-size: 22px;
  /* margin-bottom: 18px; */
}

#btn1 {
  background-color: #1961a3;
  color: #fff;
}
#btn2 {
  background-color: #f68f71;
  color: #fff;
}
#btn3 {
  background-color: #4e5586;
  color: #fff;
}
#btn4 {
  background-color: #998fca;
  color: #fff;
}
#btn5 {
  background-color: #c58fca;
  color: #fff;
}
#btn6 {
  background-color: #72a37a;
  color: #fff;
}

.recentac {
  color: #4e5586;
  font-size: 22px;
  margin-bottom: 8px;
}
.rightbox2 {
  color: #4e5586;
  float: right;
}
.datera {
  background-color: #998fca;
  margin: 5px auto;
  width: 80%;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
.inv {
  font-size: 18px;
  color: #2c2c2c;
}
.hoverpart:hover {
  background-color: #ddddeb;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Side bar code start here */
.sidebarzero {
  width: 0 !important;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  transition: width 1s ease-in-out;
}
.sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 16.66%;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  transition: width 1s ease-in-out;
}
.sidebarlower {
  background-color: #4e5586;
  height: 100%;
}
.orange:hover {
  background-color: #737aac;
  border: 1px solid #ff914d;
  border-radius: 12px;
}

.orange {
  border-bottom: 1px solid gray;
}
.orgimg {
  height: 24px;
}
.txtor {
  color: #fff;
  font-size: 22px;
}
.txtor:hover {
  color: #ff914d;
}
