/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */

/* Navbar code */
body,
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
nav {
  background-color: #4e5586;
}
.nav-box1 {
  width: 50%;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.nav-search {
  margin-left: 12px;
  height: 20px;
}
.search-input {
  background-color: #4e5586;

  color: white;
  height: 25px;
  padding: 15px;
  outline: none;
  box-shadow: none;
}
.search-input::placeholder {
  color: #fff;
  padding: 5px;
}

.dropdownbtn {
  background-color: #4e5586;
  border: 1px solid #fff;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
}
#list {
  background-color: #4e5586;
  color: #fff;
}
#list li a {
  color: #fff;
}
#list li a:hover {
  background-color: #fff;
  color: #4e5586;
}
.email {
  font-size: 12px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Dash board code start here */

.card_1 {
  background-color: #fff2f4;
}
.card_2 {
  background-color: #fdf8ef;
}
.card_3 {
  background-color: #f9f3ff;
}
.card_4 {
  background-color: #eef0ef;
}
.imageedit1 {
  background-color: #ffdae0;
  padding: 12px;
  border-radius: 50%;
}
.imageedit2 {
  background-color: #f1e7d4;
  padding: 12px;
  border-radius: 50%;
}
.imageedit3 {
  background-color: #e5daf0;
  padding: 12px;
  border-radius: 50%;
}
.imageedit4 {
  background-color: #d4ddd8;
  padding: 12px;
  border-radius: 50%;
}
.firstroecard {
  color: #1961a3;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px;
}
.invoice,
.delivery {
  color: #a3a3a3;
  font-size: large;
  font-weight: 400;
}
.viewall {
  font-size: 15px;
  color: #1961a3;
  font-weight: 600;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Job pipeline code of box 1 */

.pipelinecardptag {
  padding: 8px 12px;
  border-radius: 18px;
  background-color: #f0f0f0;
  color: #b5b5b5;
  font-size: 12px;
  font-weight: 500;
}
.pipelinecardptag:hover {
  background-color: #034f95;
  color: #fff;
}
.dropdwnbtn {
  border: 2px solid #e8e8e8;
  background-color: #d3cbfb;
  border-radius: 8px;
  color: #4e5586;
}
.purpleclr {
  background-color: #ddddeb;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 350px;
}
.cardtxt {
  color: #999999;
  font-size: 20px;
  font-weight: 400;
}
.cardtxt1 {
  margin-bottom: -5px;
}
