/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */
/* .................................................................................. */

/* Navbar code */
body,
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
nav {
  background-color: #4e5586;
}
.nav-box1 {
  width: 50%;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.nav-search {
  margin-left: 12px;
  height: 20px;
}
.search-input {
  background-color: #4e5586;

  color: white;
  height: 25px;
  padding: 15px;
  outline: none;
  box-shadow: none;
}
.search-input::placeholder {
  color: #fff;
  padding: 5px;
}

.dropdownbtn {
  background-color: #4e5586;
  border: 1px solid #fff;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
}
#list {
  background-color: #4e5586;
  color: #fff;
}
#list li a {
  color: #fff;
}
#list li a:hover {
  background-color: #fff;
  color: #4e5586;
}
.email {
  font-size: 12px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Dash board code start here */

.card_1 {
  background-color: #fff2f4;
}
.card_2 {
  background-color: #fdf8ef;
}
.card_3 {
  background-color: #f9f3ff;
}
.card_4 {
  background-color: #eef0ef;
}
.imageedit1 {
  background-color: #ffdae0;
  padding: 12px;
  border-radius: 50%;
}
.imageedit2 {
  background-color: #f1e7d4;
  padding: 12px;
  border-radius: 50%;
}
.imageedit3 {
  background-color: #e5daf0;
  padding: 12px;
  border-radius: 50%;
}
.imageedit4 {
  background-color: #d4ddd8;
  padding: 12px;
  border-radius: 50%;
}
.firstroecard {
  color: #1961a3;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px;
}
.invoice,
.delivery {
  color: #a3a3a3;
  font-size: large;
  font-weight: 400;
}
.viewall {
  font-size: 15px;
  color: #1961a3;
  font-weight: 600;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Job pipeline code of box 1 */

.pipelinecardptag {
  padding: 5px;
  border-radius: 18px;
  background-color: #f0f0f0;
  color: #b5b5b5;
  font-size: 8px;
  font-weight: 300;
  text-align: center;
}
.pipelinecardptag:hover {
  background-color: #034f95;
  color: #fff;
}
.pipeline-line {
  margin-top: 15px;
  /* background-color: red; */
  padding: 0px -10px;
}
.pipeline-line img {
  width: 30px;
  margin: 0px;
  padding: 0px;
}
.dropdwnbtn {
  border: 2px solid #e8e8e8;
  background-color: #d3cbfb;
  border-radius: 8px;
  color: #4e5586;
}
.purpleclr {
  background-color: #ddddeb;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 350px;
  height: 440px;
  /* background-color: red; =================================================================== */
}
.cardtxt {
  color: #999999;
  font-size: 20px;
  font-weight: 400;
}
.cardtxt1 {
  margin-bottom: -5px;
}
.horizontalline {
  width: 40px;
  padding: 0px;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Job pipeline code of box 2 */

.todayjob {
  color: #4e5586;
  font-size: 24px;
  font-weight: 500;
}
.viewallbtn {
  color: #4e5586;
  border: 1px solid #e8e8e8;
  background-color: #d3cbfb;
  border-radius: 12px;
}
.inp {
  background-color: #d0eae7;
  border-radius: 12px;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  padding: 5px 12px;
}
.box2p {
  font-size: 15px;
  color: #a3a3a3;
}
.viewbtn {
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  color: #1961a3;
}
#box1cng {
  background-color: #ddddfa;
}
#box2cng {
  background-color: #f2e5ff;
}
#box3cng {
  background-color: #e0e5e2;
}
#box4cng {
  background-color: #fbeaca;
}

/* ................................................................ */

/* ................................................................ */

/* ................................................................ */

/* Upconingsrv code start here */

.sendwhat {
  border: none;
  height: 30px;
  background-color: #38a349;
}

.sendwhat img {
  height: 15px;
}
.usrbox1 {
  background-color: #fff;
  border: 1px solid #ebebf7;
}
.h5usr {
  color: #4e5586;
  font-size: 18px;
}
.floatbtn {
  background-color: #dbd5fd;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  color: #4e5586;
  font-size: 13px;
  padding: 8px 12px;
}
.grayarea {
  color: #8d8d8d;
  font-weight: 400;
  font-size: 16px;
}
.inputarea {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
}
.nosend {
  background-color: #f8d3d8;
}
